@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --theme-color: #6c63ff;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  position: relative;/*later*/
}
/* navbar CSS */
.navbar{
  background: white;
  padding: 1em;
  /*later*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .site-logo{
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 1.2em;
}
.navbar .site-logo span{
  color: var(--theme-color);
}
.navbar nav{
  display: none;
}
.navbar .container{
  display: flex;
  place-content: space-between;
}
.navbar .mob-menu{
  cursor: pointer;
}
a{
  color: #444444;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section{
  padding: 5em 2em;
}
/* showcase CSS */
.showcase{
  text-align: center;
}
.left-col .subhead{
  text-transform: uppercase;
  font-weight: 700;
  color: gray;
  letter-spacing: .3em;
}
.left-col h1{
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}
.left-col .primary-link{
  background: var(--theme-color);
  color: #fff;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: 700;
  display: inline-block;
}
.left-col .btn-section small{
  color: #444444;
  font-style: italic;
  display: block;
  margin: .8rem 0 .6rem 0;
}
.left-col .secondary-link{
  display: block;
}
.showcase .showcase-img{
  width: 70vw;
  margin-top: 3em;
}
/* features CSS */
.features{
  background: #20272e;
  color: #fff;
}
.features ul{
  margin: 0;
  padding-left: .1em;
  display: grid; /*later*/
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));/*later*/
}
.features ul li{
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}
.features ul li::before{
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../img/hat-wizard-solid.svg');
  background-size: contain;
  margin-right: .5em;
}
.features .feature-img{
  display: none;
}
/* reviews CSS */
.reviews{
  background: var(--theme-color);
  color: #fff;
}
.reviews li{
  background: #4841ae;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}
.reviews img{
  width: 5em;
  height: 5em;
  border: 8px solid #4841ae;
  border-radius: 50%;
  margin-top: -4.5em;
  box-shadow: 4px 4px 6px 0px #272462;
}
/* Contact CSS */
.contact-section h2{
  font-size: 2em;
}
.contact-section label{
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}
.contact-section input,.contact-section textarea{
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3rem;
  border:1px solid gray;
  box-sizing: border-box;
}
.contact-section input[type="submit"]{
  background-color: var(--theme-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}
iframe{
  width: 100%;
  height: 300px;
}

/*mobile menu style*/

.menu-btn{
  display: block !important;
}
.mob-menu{
  margin-right: 2em;
}
nav{
  position: fixed;
  z-index: 900;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 100vh;
  padding: 1em;
}
nav .primary-nav{
  margin-top: 4em;
}
nav li a{
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
  transition: .4s ease-out;
}
nav li a:hover{
  letter-spacing: 2px;
  font-weight: 700;
}
.mob-menu-close{
  display: block;
  margin-right: 10px;
  margin-left: auto;
  cursor: pointer;
}

/*media query*/
@media only screen and (min-width: 768px) {
  .mob-menu,.mob-menu-close{
    display: none;
  }
  .navbar .container{
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: space-around;
  }
  .navbar nav li a{
    color: #000;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav{
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul{
    display: flex;
  }
  .navbar nav .primary-nav{
    margin: 0;
  }
  .active{
    font-weight: 700;
  }
  .login-btn a{
    color: var(--theme-color);
    border: 3px solid var(--theme-color);
    font-weight: 700;
    border-radius: 5em;
    margin-top: -.2em;
    transition: .4s ease-out;
  }
  .login-btn:hover a{ 
    background: var(--theme-color);
    color: #fff;
  }
}
@media only screen and (min-width: 1080px) {
  .container{
    width: 1080px;
    margin: 0 auto;
  }

  section{
    padding: 10em 4em;
  }
  .showcase .container{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .btn-section small, .btn-section .secondary-link{
    display: none !important;
  }
  .showcase .container .left-col{
    margin: 3em 3em 0 5em;
  }
  .showcase .container .left-col h1{
    font-size: 3em;
    width: 90%;
  }
  .showcase .container .showcase-img{
    width: 30%;
    margin-right: 8em;
  }
  .features .container ul{
    display: block;
    margin-left: 5em;
  }
  .features .container ul li{
    font-size: 1.4em;
  }
  .features .container ul li::before{
    width: 30px;
    height: 30px;
  }
  .features{
    position: relative;
  }
  .features .feature-img{
    display: block;
    position: absolute;
    right: 2em;
    width: 350px;
    bottom: -2em;
  }
  .reviews ul{
    display: flex;
  }
  .reviews ul li{
    margin: 0 1rem;
  }
  .contact-section{
    position: relative;
  }
  .contact-section .container{
    display: flex;
  }
  .contact-section .container .contact-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section .container .contact-right iframe{
    height: 100%;
  }
}
@media only screen and (min-width: 1450px) {
  .features::before{
    content: '';
    position: absolute;
    top: -4em;
    left: 0;
    width: 10%;
    height: 20em;
    background: var(--theme-color);
  }
  .features::after{
    content: '';
    position: absolute;
    top: -3em;
    left: 1em;
    width: 10%;
    height: 20em;
    background: #4841ae;
  }
}
/*footer*/
footer{
  background: var(--theme-color);
  padding: 10px;
  text-align: center;
  font-size: .9rem;
}
footer span{
  color: #fff;
  font-weight: 700;
}